
# 我的页面 解锁1080P高码率,4K画质,皮肤推送 //app.bilibili.com
^https:\/\/app\.bilibili\.com\/x\/v2\/account\/(mine|myinfo)\? url script-response-body https://raw.githubusercontent.com/lx051/QuantumultX/main/bili.js
^https:\/\/app\.bilibili\.com\/x\/resource\/show\/skin\? url script-response-body https://raw.githubusercontent.com/lx051/QuantumultX/main/bili.js
