#lofter去开屏广告
#更新时间：2023.03.18
^https?:\/\/lofter\.lf127\.net\/ad\-material url reject-200
^http?:\/\/images\.pinduoduo\.com\/marketing\_api url reject-200
^https?:\/\/ad\.lofter.com\/v1\.1\yitou\madr url reject-200
hostname =ad.lofter.com,images.pinduoduo.com，lofter.lf127.net
